.patient-details-inline-1 {
	height: 8px
}

.patient-details-inline-2 {
	width: 85%; height: 8px
}

.patient-details-inline-3 {
	width: 90%; height: 8px
}

.patient-details-inline-4 {
	width: 65%; height: 8px
}
