.ui-progressbar-inline-1 {
	width: 60%; height: 6px
}

.ui-progressbar-inline-2 {
	width: 85%; height: 10px
}

.ui-progressbar-inline-3 {
	width: 40%; height: 6px
}

.ui-progressbar-inline-4 {
	width: 20%; height: 6px
}

.ui-progressbar-inline-5 {
	width: 30%; height: 6px
}

.ui-progressbar-inline-6 {
	width: 80%; height: 6px
}

.ui-progressbar-inline-7 {
	width: 40%; height: 8px
}

.ui-progressbar-inline-8 {
	width: 20%; height: 10px
}

.ui-progressbar-inline-9 {
	width: 30%; height: 12px
}

.ui-progressbar-inline-10 {
	width: 80%; height: 14px
}

.ui-progressbar-inline-11 {
	width: 4px; height: 60%
}

.ui-progressbar-inline-12 {
	width: 4px; height: 80%
}

.ui-progressbar-inline-13 {
	width: 4px; height: 40%
}

.ui-progressbar-inline-14 {
	width: 4px; height: 30%
}

.ui-progressbar-inline-15 {
	width: 6px; height: 80%
}

.ui-progressbar-inline-16 {
	width: 8px; height: 60%
}

.ui-progressbar-inline-17 {
	width: 10px; height: 40%
}

.ui-progressbar-inline-18 {
	width: 14px; height: 30%
}

.ui-progressbar-inline-19 {
	width: 85%; height: 6px
}

.ui-progressbar-inline-20 {
	width: 90%; height: 6px
}

.ui-progressbar-inline-21 {
	width: 65%; height: 6px
}
